@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media screen and (max-width:600px){
    .do-to {
        width: 300px;
    }
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('');
    background-size: cover ;
    background-repeat: no-repeat ;
}

#to_do {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #a7cbcc;
    padding: 18px;
    border-radius: 8px;
    width: 430px;
}

#to_do h1{
    color: #e5f9ff;
    font-size: 28px;
    text-transform: uppercase;
}

.to-do-form{
    display: flex;
    width: 100%;
}

.to-do-form input{
    background-color: transparent;
    border: none;
    color: #e5f9ff;
    font-size: 16px;
    width: 100%;
    padding: 4px;
    border-bottom:2px solid #040c06;
}

.to-do-form input:focus-visible {
    outline: none;
}

.to-do-form .form-button{
    color: #e5f9ff;
    border: none;
    min-width: 40px;
    min-height: 40px;
    background-color: #0c990c;
    border-radius: 100%;
    font-size: 20px;
    transition: scale 0.5s ease;
}

.to-do-form .form-button:hover {
    cursor: pointer;
    scale: 1.05;
}

#tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 400px;
    overflow: auto;
}

.task{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2626;
    background-color: #0a1f0f;
    padding: 8px 12px;
    border-radius: 4px;
}


.task .progress{
    margin-right: 10px;
}

.task .progress.done + .task-description{
    text-decoration: line-through;
    color:#e5f9ff;
}

.task .task-actions{
    display: flex;
    gap: 10px;
}

.action-button{
    font-size: 16px;
}

.fa-regular.fa-trash-can{
    color: #ee390c
}

.action-button.edit-button{
    padding: 2px 2px 2px 10px;
    color: rgba(8, 172, 8, 0.753)
}

.task .task-description{
    font-size: 16px;
    color:#e5f9ff;
    padding: 4px 0px; 
}

.hidden{
    display: none !important;
}